{{ template "base.html" $ }}
{{ define "title" }}
{{ if eq "" .activity.Note }}
Activity for {{ .task.QuickTitle }}
{{ else }}
{{ $title := splitNoteTitle .activity.Note }}
{{ $title }}
{{ end }}
{{ end }}
{{ define "body" }}
<nav>
  <span>{{ template "title" . }}</span>
  <a href="/task/{{ .task.ID }}">Task</a>
</nav>
<aside>
  {{ if .activity.TimeStart }}
  {{ .activity.TimeStart | formatUser }}
  {{ end }}
  to
  {{ if .activity.TimeEnd }}
  {{ .activity.TimeEnd | formatUser }}
  {{ end }}
  <br />
  Location: {{ .activity.Location }}
  <br />
  {{ if .activity.Done }}
  Done
  {{ else }}
  Not Done
  {{ end }}
</aside>
{{ $body := splitNoteBody .activity.Note }}
{{ renderMarkdown $body }}
<pre>
{{ toPrettyJson . }}
</pre>
{{ end }}

