{{ template "base.html" $ }}
{{ define "title" }}
{{ if eq "" .activity.Note }}
Edit Activity for {{ .task.QuickTitle }}
{{ else }}
{{ $title := splitNoteTitle .activity.Note }}
Edit {{ $title }}
{{ end }}
{{ end }}
{{ define "body" }}
{{ $now := now | formatDatetimeLocalHTML $.tzloc }}
<nav>
  <span>{{ template "title" . }}</span>
  <a href="/activity/{{ .activity.ID }}">View</a>
  <a href="/task/{{ .task.ID }}">Task</a>
</nav>
<form action="/activity/{{ .activity.ID }}/edit" method="post">
  <label>
    Location
    <input
      type="text"
      name="Location"
      value="{{ .activity.Location }}"
    />
  </label>
  <label>
    Start
    <input type="datetime-local" name="TimeStart" value="{{ .activity.TimeStart | formatDatetimeLocalHTML $.tzloc }}" />
  </label>
  <label>
    End
    <input type="datetime-local" name="TimeEnd" value="{{ .activity.TimeEnd | formatDatetimeLocalHTML $.tzloc }}" />
  </label>
  <label>
    <input type="checkbox" name="Done" />
    Task is done with this activity
  </label>
  <label>
    Note
    <textarea name="Note">{{ .activity.Note }}</textarea>
  </label>
  <input type="submit" value="Edit" />
</form>
{{ end }}

