{{ template "base.html" $ }}
{{ define "title" }}
Latest
{{ end }}
{{ define "body" }}
<table>
  <tr>
    <th>Quick Title / Note</th>
    <th>Start</th>
    <th>End</th>
    <th>Location</th>
    <th>Actions</th>
  </tr>
{{ range $i, $a := .latest }}
  <tr>
    <td>
      <a href="/activity/{{ $a.ID }}">
        {{ if eq "" $a.Note }}
        Activity
        {{ else }}
        {{ $a.Note }}
        {{ end }}
      </a>
      for 
      {{ $task := index $.tasks $i }}
      <a href="/task/{{ $task.ID }}">
        {{ $task.QuickTitle }}
      </a>
    </td>
    <td>
      {{ $a.TimeStart.Local.Format "2006-01-02 Mon" }}
      {{ $a.TimeStart.Local.Format "15:04" }}
    </td>
    <td>
      {{ $a.TimeEnd.Local.Format "15:04" }}
    </td>
    <td>
      {{ $a.Location }}
    </td>
    <td>
      {{ if ge $a.TimeEnd.Unix (sub now.Unix 86400) }}
      {{ if eq $i 0 }}
      <form action="/activity/{{ $a.ID }}/extend" method="post">
        <label>
          New End
          <input type="time" name="time_end" value="{{ now.Format "15:04" }}" />
        </label>
        <input type="submit" value="Extend" />
      </form>
      {{ end }}
      <form action="/activity/{{ $a.ID }}/resume" method="post" style="display: block;">
        <label>
          Location
          <input type="text" name="location" value="{{ $a.Location }}" />
        </label>
        <label>
          Start
          <input type="time" name="time_start" value="{{ now.Format "15:04" }}" />
        </label>
        <label>
          End
          <input type="time" name="time_end" value="{{ now.Format "15:04" }}" />
        </label>
        <input type="submit" value="Duplicate" />
      </form>
      {{ end }}
    </td>
  </tr>
{{ end }}
</table>
{{ end }}
