{{ template "base.html" $ }}
{{ define "title" }}
{{ if eq "" (splitNoteTitle .activity.Note) }}
Activity for {{ .task.QuickTitle }}
{{ else }}
{{ $title := splitNoteTitle .activity.Note }}
{{ $title }}
{{ end }}
{{ end }}
{{ define "body" }}
<nav>
  <span>{{ template "title" . }}</span>
  <a href="/activity/{{ .activity.ID }}/edit">Edit</a>
  <a href="/task/{{ .task.ID }}">Task</a>
</nav>
<aside>
  {{ if .activity.TimeStart }}
  {{ .activity.TimeStart | formatUser $.tzloc }}
  {{ end }}
  to
  {{ if .activity.TimeEnd }}
  {{ .activity.TimeEnd | formatUser $.tzloc }}
  {{ end }}
  <br />
  Location: {{ .activity.Location }}
  <br />
  {{ if .activity.Done }}
  Done
  {{ else }}
  Not Done
  {{ end }}
  {{ if ge .activity.TimeEnd.Unix (sub now.Unix 86400) }}
  <form action="/activity/{{ .activity.ID }}/extend" method="post">
    <label>
      New End
      <input type="time" name="time_end" value="{{ now | formatHM $.tzloc }}" />
    </label>
    <input type="submit" value="Extend" />
  </form>
  {{ end }}
</aside>
{{ if .events }}
<section id="events">
  <h2>Events</h2>
  {{ printf "%d" (len .events) }} events
  <ol>
    {{ range .events }}
    <li>
      {{ if isSamplePreview . }}
      <a href="{{ $.seekbackServerBaseURI.JoinPath (printf "/sample/%s" .ID) }}">
        {{ $sp := asSamplePreview . }}
        from {{ $sp.Start | formatUser $.tzloc }}
        ({{ $sp.Duration }})
        {{ if ne $sp.Summary "" }}
        - {{ $sp.Summary }}
        {{ end }}
      </a>
      {{ else }}
      {{ .ID }}
      {{ end }}
    </li>
    {{ end }}
  </ol>
</section>
{{ end }}
{{ $body := splitNoteBody .activity.Note }}
{{ renderMarkdown $body }}
<pre>
{{ toPrettyJson . }}
</pre>
{{ end }}

