{{ template "base.html" $ }}
{{ define "title" }}
{{ .date.Format "2006-01-02" }}
{{ end }}
{{ define "head-extra" }}
<style>
  .event {
    /* border-left: 2px black solid; */
    position: relative;
    z-index: 1;
    border-radius: 8px;
  }

  .hour-spacer {
    width: 6rem;
  }

  .activity {
    background-color: #eee;
  }

  .plan {
    background-color: #ddf;
  }

  .hour {
    padding: 0;
    margin: 0;
    border: 0;
    height: 60px;
    border-top: 2px black dotted;
    position: relative;
    z-index: 0;
    font-variant-numeric: tabular-nums;
    box-sizing: border-box;
  }

  .layer {
    grid-column: 1;
    grid-row: 1;
  }

  .layer.events {
    display: flex;
  }

  .layer.events .event {
    flex: 1 1 0;
  }

  .column {
    display: grid;
  }

  main {
    height: 100%;
    display: grid;
  }
</style>
{{ end }}
{{ define "body" }}
{{ $compressionFactor := 60 }}
<h1>{{ template "title" . }}</h1>
<nav>
  <a href="/day/{{ (.date.AddDate 0 0 -1).Format "2006-01-02" }}">
    ←
    {{ (.date.AddDate 0 0 -1).Format "2006-01-02" }}
  </a>
  <a href="/day/{{ (.date.AddDate 0 0 +1).Format "2006-01-02" }}" style="float: right;">
    {{ (.date.AddDate 0 0 +1).Format "2006-01-02" }}
    →
  </a>
</nav>
<aside>
  <h2>Multi-day Plans</h2>
  <ul>
  {{ range $i, $plan := .plans }}
  {{ if ne ($plan.TimeAtAfter.Local.Format "2006-01-02") ($plan.TimeBefore.Local.Format "2006-01-02") }}
  <li>
    {{ $task := index $.tasks $plan.TaskID }}
    <a href="/plan/{{ $plan.ID }}">
      Plan
    </a>
    for
    <a href="/task/{{ $plan.TaskID }}">
      {{ $task.QuickTitle }}
    </a>
    from
    <a href="/day/{{ $plan.TimeAtAfter.Local.Format "2006-01-02" }}">
      {{ $plan.TimeAtAfter.Local.Format "2006-01-02" }}
    </a>
    {{ $plan.TimeAtAfter.Local.Format "15:04" }}
    to
    <a href="/day/{{ $plan.TimeBefore.Local.Format "2006-01-02" }}">
      {{ $plan.TimeBefore.Local.Format "2006-01-02" }}
    </a>
    {{ $plan.TimeBefore.Local.Format "15:04" }}
    for
    {{ $plan.DurationGe }} to {{ $plan.DurationLt }}
  </li>
  {{ end }}
  {{ end }}
  </ul>
</aside>
<main>
  <div class="layer">
    {{ range $i := genRange 24 }}
    <div class="hour">
      {{ printf "%02d:00" $i }}
    </div>
    {{ end }}
  </div>
  {{ range $i, $plan := .plans }}
  {{ end }}
  <div class="layer events">
    <div class="column hour-spacer">
    </div>
    {{ range $currentColumn := genRange .nColumns }}
    <div class="column">
      {{ range $i, $event := $.events }}
      {{ if eq (index $.columns $i) $currentColumn }}
      {{ if isActivity $event }}
      <div class="layer">
        {{ $activity := toActivity $event }}
        {{ $top := (div (sub $activity.TimeStart.Unix $.date.Unix) $compressionFactor) }}
        {{ $height := (div (sub $activity.TimeEnd.Unix $activity.TimeStart.Unix) $compressionFactor) }}
        {{ $duration := $activity.TimeEnd.Sub $activity.TimeStart }}
        <div
          class="event activity"
          style="{{ styleTopHeight (printf "%dpx" $top) (printf "%dpx" $height) }}"
        >
          {{ $activity.TimeStart.Local.Format "15:04" }}
          {{ $duration }}
          <a href="/activity/{{ $activity.ID }}">
            {{ if eq "" $activity.Note }}
            Activity
            {{ else }}
            {{ $activity.Note }}
            {{ end }}
          </a>
          {{ if eq "" $activity.Note }}
          for
          {{ else }}
          -
          {{ end }}
          <a href="/task/{{ $activity.TaskID }}">
            {{ (index $.tasks $activity.TaskID).QuickTitle }}
          </a>
        </div>
      </div>
      {{ else }}
      {{ $plan := toPlan $event }}
      {{ if and (eq $plan.ActivityID 0) (eq ($plan.TimeAtAfter.Local.Format "2006-01-02") ($plan.TimeBefore.Local.Format "2006-01-02")) }}
      <div class="layer">
        {{ $top := (div (sub $plan.TimeAtAfter.Unix $.date.Unix) $compressionFactor) }}
        {{ $height := (div (sub $plan.TimeBefore.Unix $plan.TimeAtAfter.Unix) $compressionFactor) }}
        <div
          class="event plan"
          style="{{ styleTopHeight (printf "%dpx" $top) (printf "%dpx" $height) }}"
        >
          {{ $plan.TimeAtAfter.Local.Format "15:04" }}
          to
          {{ $plan.TimeBefore.Local.Format "15:04" }}
          /
          {{ if eq $plan.DurationGe $plan.DurationLt }}
          {{ $plan.DurationGe }}
          {{ else }}
          {{ $plan.DurationGe }} to {{ $plan.DurationLt }}
          {{ end }}
          <a href="/plan/{{ $plan.ID }}">
            Plan
          </a>
          for
          <a href="/task/{{ $plan.TaskID }}">
            {{ (index $.tasks $plan.TaskID).QuickTitle }}
          </a>
        </div>
      </div>
      {{ end }}
      {{ end }}
      {{ end }}
      {{ end }}
    </div>
    {{ end }}
  </div>
</main>
{{ end }}

