{{ template "base.html" $ }}
{{ define "title" }}New Task with Activity{{ end }}
{{ define "body" }}
<nav>
  <span>{{ template "title" . }}</span>
</nav>
{{ $now := now | formatDatetimeLocalHTML $.tzloc }}
<div class="form-container">
  <form action="/task/new/activity/new" method="post">
    <fieldset>
      <legend>Task</legend>
      <label>
        Quick Title
        <input type="text" name="QuickTitle" value="{{ if .preset.QuickTitle }}{{ .preset.QuickTitle }}{{ end }}" />
      </label>

      <label>
        Description
        <textarea name="Description">{{ if .preset.Description }}{{ .preset.Description }}{{ end }}</textarea>
      </label>

      <label>
        Deadline
        <input type="datetime-local" name="Deadline" value="{{ .preset.Deadline }}" />
      </label>

      <label>
        Due
        <input type="datetime-local" name="Due" value="{{ .preset.Due }}" />
      </label>
    </fieldset>


    <fieldset>
      <legend>Activity</legend>
      <label>
        Location
        <input
          type="text"
          name="Location"
          value="{{ if .preset.Location }}{{ .preset.Location }}{{ end }}"
        />
      </label>

      <label>
        Start
        <input type="datetime-local" name="TimeStart" value="{{ .preset.TimeStart }}" />
      </label>

      <label>
        End
        <input type="datetime-local" name="TimeEnd" value="{{ .preset.TimeEnd }}" />
      </label>

      <label style="display: inline-block">
        Activity done
        <input type="checkbox" name="Done" style="display: inline-block" style="width: unset" {{ if .preset.Done }}checked{{ end }} />
      </label>

      <div>
        <label>
          Note
          <textarea name="Note">{{ if .preset.Note }}{{ .preset.Note }}{{ end }}</textarea>
        </label>
      </div>

    </fieldset>

    <input type="submit" value="Add" />
  </form>
</div>
{{ end }}

