{{ template "base.html" $ }}
{{ define "title" }}
New Activity for {{ .task.QuickTitle }}
{{ end }}
{{ define "body" }}
{{ $now := now | formatDatetimeLocal }}
<nav>
  <span>{{ template "title" . }}</span>
</nav>
<form action="/task/{{ .task.ID }}/activity/new" method="post">
  <label>
    Corresponding Plan
    <select name="PlanID">
      <option value="">None</option>
      {{ range $i, $plan := .plans }}
      {{ if eq $plan.ActivityID 0 }}
      <option {{ if eq $i $.selectedPlan }}selected{{ end }} value="{{ $plan.ID }}">
        {{ $plan.TimeAtAfter.Local.Format "15:04" }}
        to
        {{ $plan.TimeBefore.Local.Format "15:04" }}
        {{ if ne "" $plan.Location }}
        at
        {{ $plan.Location }}
        {{ end }}
      </option>
      {{ end }}
      {{ end }}
    </select>
  </label>
  <label>
    Location
    <input
      type="text"
      name="Location"
      {{ if .plans }}
      {{ $plan := index .plans $.selectedPlan }}
      {{ if ne "" $plan.Location }}value="{{ $plan.Location }}"{{ end }}
      {{ end }}
    />
  </label>
  <label>
    Start
    <input type="datetime-local" name="TimeStart" value="{{ $now }}" />
  </label>
  <label>
    End
    <input type="datetime-local" name="TimeEnd" value="{{ $now }}" />
  </label>
  <label>
    <input type="checkbox" name="Done" />
    Task is done with this activity
  </label>
  <label>
    Note
    <textarea name="Note"></textarea>
  </label>
  <input type="submit" value="Add" />
</form>
{{ end }}
