{{ template "base.html" $ }}
{{ define "title" }}New Task with Activity{{ end }}
{{ define "body" }}
<nav>
  <span>{{ template "title" . }}</span>
</nav>
{{ $now := now | formatDatetimeLocalHTML $.tzloc }}
<div class="form-container">
  <form action="/task/new/activity/new" method="post">
    <fieldset>
      <legend>Task</legend>
      <label for="QuickTitle">
        Quick Title
      </label>
      <input type="text" id="QuickTitle" name="QuickTitle" value="{{ if .preset.QuickTitle }}{{ .preset.QuickTitle }}{{ end }}" />

      <label for="Description">
        Description
      </label>
      <textarea id="Description" name="Description">{{ if .preset.Description }}{{ .preset.Description }}{{ end }}</textarea>

      <label for="Deadline">
        Deadline
      </label>
      <input type="datetime-local" id="Deadline" name="Deadline" value="{{ .preset.Deadline }}" />

      <label for="Due">
        Due
      </label>
      <input type="datetime-local" id="Due" name="Due" value="{{ .preset.Due }}" />
    </fieldset>


    <fieldset>
      <legend>Activity</legend>
      <label for="Location">
        Location
      </label>
      <input
        type="text"
        id="Location"
        name="Location"
        value="{{ if .preset.Location }}{{ .preset.Location }}{{ end }}"
      />

      <label for="TimeStart">
        Start
      </label>
      <input type="datetime-local" id="TimeStart" name="TimeStart" value="{{ .preset.TimeStart }}" />

      <label for="TimeEnd">
        End
      </label>
      <input type="datetime-local" id="TimeEnd" name="TimeEnd" value="{{ .preset.TimeEnd }}" />

      <label for="Done" style="display: inline-block">
        Activity done
      </label>
      <input type="checkbox" id="Done" name="Done" style="display: inline-block" style="width: unset" {{ if .preset.Done }}checked{{ end }} />

      <div>
        <label id="Note">
          Note
        </label>
        <textarea id="Note" name="Note">{{ if .preset.Note }}{{ .preset.Note }}{{ end }}</textarea>
      </div>

    </fieldset>

    <input type="submit" value="Add" />
  </form>
</div>
{{ end }}

