{{ template "base.html" $ }}
{{ define "title" }}New Task{{ end }}
{{ define "body" }}
{{ $now := now | formatDatetimeLocalHTML $.tzloc }}
<style>
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
}

form {
    width: 33vw;
    height: auto;
    max-width: 100%;

    margin: 10px;
}

form label {
    margin-top: 1em;
}

form label,form input {
    display: block;
}

</style>

<div class="form-container">
<form action="/task/new" method="post" style="">
  <fieldset>
      <legend>New Task</legend>
      <label for="QuickTitle">
        Quick Title
      </label>
      <input type="text" id="QuickTitle" name="QuickTitle" placeholder="quick title"/>

      <label for="Deadline">
        Deadline
      </label>
      <input type="datetime-local" id="Deadline" name="Deadline" value="{{ $now }}" />

      <label for="Due">
        Due
      </label>
      <input type="datetime-local" id="Due" name="Due" value="{{ $now }}" />
      
      <label for="Description">
        Description
      </label>
      <textarea id="Description" name="Description"></textarea>

      <input type="submit" value="Add" />
  </fieldset>
</form>
</div>
{{ end }}

