{{ template "base.html" $ }}
{{ define "title" }}
{{ .task.QuickTitle }}
{{ end }}
{{ define "body" }}
<nav>
  <span>{{ template "title" . }}</span>
  <a href="/task/{{ .task.ID }}/activity/new">Add Activity</a>
</nav>
<aside>
  Spent: {{ .totalSpent }}
</aside>
<section id="description">
  {{ renderMarkdown .task.Description }}
  {{ if .task.Due }}
  Due on {{ .task.Due | formatUser }}
  {{ end }}
  <br />
  {{ if .task.Deadline }}
  Deadline is {{ .task.Deadline | formatUser }}
  {{ end }}
</section>
<section id="activities">
  <h2>Activities</h2>
  <ol>
    {{ range $i, $activity := .activities }}
    <li><a href="/activity/{{ $activity.ID }}">
      {{ if eq "" $activity.Note }}
      Activity
      {{ else }}
      {{ $activity.Note }}
      {{ end }}
    </a></li>
    {{ end }}
  </ol>
</section>
{{ end }}
