{{ template "base.html" $ }}
{{ define "title" }}
Edit {{ .task.QuickTitle }}
{{ end }}
{{ define "body" }}
<nav>
  <span>{{ template "title" . }}</span>
  <a href="/task/{{ .task.ID }}">View</a>
  <a href="/task/{{ .task.ID }}/activity/new">Add Activity</a>
  <a href="/task/{{ .task.ID }}/plan/new">Add Plan</a>
</nav>
<form action="/task/new" method="post">
  <label>
    Quick Title
    <input type="text" name="QuickTitle" value="{{ .task.QuickTitle }}" />
  </label>
  <label>
    Description
    <textarea name="Description">{{ .task.Description }}</textarea>
  </label>
  <label>
    Deadline
    <input type="datetime-local" name="Deadline" value="{{ .task.Deadline }}" />
  </label>
  <label>
    Due
    <input type="datetime-local" name="Due" value="{{ .task.Due }}" />
  </label>
  <input type="submit" value="Add" />
</form>
<section id="activities">
  <h2>Activities</h2>
  <ol>
    {{ range $i, $activity := .activities }}
    <li><a href="/activity/{{ $activity.ID }}">
      {{ if eq "" $activity.Note }}
      Activity
      {{ else }}
      {{ $activity.Note }}
      {{ end }}
    </a></li>
    {{ end }}
  </ol>
</section>
{{ end }}
