{{ template "base.html" $ }}
{{ define "title" }}
New Activity for {{ .task.QuickTitle }}
{{ end }}
{{ define "body" }}
{{ $now := now | formatDatetimeLocalHTML $.tzloc }}
<nav>
  <span>{{ template "title" . }}</span>
</nav>

<div class="form-container">
  <form action="/task/{{ .task.ID }}/activity/new" method="post">
    <fieldset>
      <legend>New Activity</legend>
      <label for="PlanID">
        Corresponding Plan
      </label>
      <select id="PlanID" name="PlanID">
        <option value="">None</option>
        {{ range $i, $plan := .plans }}
        {{ if eq $plan.ActivityID 0 }}
        <option {{ if eq $i $.selectedPlan }}selected{{ end }} value="{{ $plan.ID }}">
          {{ $plan.TimeAtAfter | formatHM $.tzloc }}
          to
          {{ $plan.TimeBefore | formatHM $.tzloc }}
          {{ if ne "" $plan.Location }}
          at
          {{ $plan.Location }}
          {{ end }}
        </option>
        {{ end }}
        {{ end }}
      </select>

      <label for="Location">
        Location
      </label>
      <input type="text" id="Location" name="Location" {{ if .plans }} {{ $plan :=index .plans $.selectedPlan }} {{ if
        ne "" $plan.Location }}value="{{ $plan.Location }}" {{ end }} {{ else }} value="{{ $.latestActivity.Location }}"
        {{ end }} />

      <label for="TimeStart">
        Start
      </label>
      <input type="datetime-local" id="TimeStart" name="TimeStart" value="{{ $now }}" />

      <label id="TimeEnd">
        End
      </label>
      <input type="datetime-local" id="TimeEnd" name="TimeEnd" value="{{ $now }}" />

      <label for="Done" style="display: inline-block">
        Task is done with this activity
      </label>
      <input type="checkbox" id="Done" name="Done" style="display: inline-block;" />

      <label for="Note">
        Note
      </label>
      <textarea id="Note" name="Note"></textarea>
    </fieldset>

    <input type="submit" value="Add" />
  </form>
</div>
{{ end }}
