{{ template "base.html" $ }}
{{ define "title" }}New Task{{ end }}
{{ define "body" }}
{{ $now := now | formatDatetimeLocalHTML $.tzloc }}
<style>

</style>

<div class="form-container">
<form action="/task/new" method="post" style="">
  <label>
    Quick Title
    <input type="text" name="QuickTitle"/>
  </label>

  <label>
    Deadline
    <input type="datetime-local" name="Deadline" value="{{ $now }}" />
  </label>

  <label>
    Due
    <input type="datetime-local" name="Due" value="{{ $now }}" />
  </label>
  
  <label>
    Description
    <textarea name="Description"></textarea>
  </label>
  <input type="submit" value="Add" />
</form>
</div>
{{ end }}

