{{ template "base.html" $ }}
{{ define "title" }}
New Plan for {{ .task.QuickTitle }}
{{ end }}
{{ define "body" }}
{{ $now := now | formatDatetimeLocalHTML $.tzloc }}
<nav>
  <span>{{ template "title" . }}</span>
</nav>
<div class="form-container">
<form action="/task/{{ .task.ID }}/plan/new" method="post">
  <fieldset>
  <legend>New Plan</legend>

  <label for="Location">
    Location
  </label>
  <input type="text" id="Location" name="Location" />

  <label for="TimeAtAfter">
    Start at or after
  </label>
  <input type="datetime-local" id="TimeAtAfter" name="TimeAtAfter" value="{{ $now }}" />

  <label for="TimeBefore">
    End before
  </label>
  <input type="datetime-local" id="TimeBefore" name="TimeBefore" value="{{ $now }}" />

  <label for="DurationGe">
    Duration greater than
  </label>
  <input type="number" id="DurationGe" name="DurationGe" />

  <label for="DurationLt">
    Duration less than
  </label>
  <input type="number" id="DurationLt" name="DurationLt"/>
  </fieldset>
  <input type="submit" value="Add" />
</form>
</div>
{{ end }}
